<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="assets/fontawesome-pro-5.13.0/css/all.min.css">
		<link rel="stylesheet" href="dist/homepro-ui.min.css">
	</head>
	<body style="background-color: var(--color-gray-100);">
		<div id="js-app">
			<header>
				<!-- Top bar -->
				<nav class="hp-top-bar lo-container">
					<div>
						<ul>
							<li class="menu"><a href="#">หัวข้ออื่น</a></li>
							<li class="menu"><a href="#">หัวข้ออื่น</a></li>
						</ul>
						<ul>
							<li class="menu">
								<span class="u-flag-th"></span>&nbsp;&nbsp;TH
							</li>
							<li>|</li>
							<li class="menu">
								<span class="u-flag-en"></span>&nbsp;&nbsp;EN
							</li>
							<li class="menu"><a href="#">ค้นหาสาขา</a></li>
							<li class="menu"><a href="#">ติดต่อเรา</a></li>
							<li class="menu"><a href="#">ติดตามคำสั่งซื้อ</a></li>
							<li class="menu"><a href="#">บัญชีของฉัน</a></li>
						</ul>
					</div>
				</nav>

				<!-- Nav bar -->
				<nav class="hp-nav-bar lo-container">
					<div>
						<img src="assets/homepro-logo.svg" alt="Hopmepro" width="120">

						<form class="nav-bar-search">
							<div class="hp-input -search">
								<input type="text" placeholder="ค้นหาสินค้าในโฮมโปร">
								<button class="hp-button">
									<i class="far fa-search"></i>
								</button>
							</div>
						</form>
					</div>

					<ul class="nav-bar-menu">
						<li class="menu -active">
							<span>สินค้าทั้งหมด <i class="far fa-chevron-down"></i></span>

							<ul class="hp-category-panel hp-popup" :class="{ '-active': isShowCategory}">
								<li>เครื่องใช้ไฟฟ้า</li>
								<li>ทีวีและเครื่องเสียง</li>
								<li>กีฬาและฟิตเนส</li>
								<li>เฟอร์นิเจอร์และของแต่งบ้าน</li>
								<li>ห้องครัวและอุปกรณ์</li>
								<li>ห้องนอนและเครื่องนอน</li>
								<li>ห้องน้ำ</li>
								<li>วัสดุปูพื้นและผนัง</li>
								<li>สวนและอุปกรณ์ตกแต่ง</li>
								<li>โคมไฟและหลอดไฟ</li>
								<li>ของใช้ภายในบ้าน</li>
								<li>ประตูและหน้าต่าง</li>
								<li>เครื่องมือช่างและฮาร์ดแวร์</li>
								<li>วัสดุก่อสร้าง</li>
								<li>งานระบบประปา</li>
								<li>งานระบบไฟฟ้า</li>
							</ul>
						</li>
						<li class="menu">
							แบรนด์ยอดนิยม <i class="far fa-chevron-down"></i>
						</li>
						<li class="menu">
							ความรู้คู่บ้าน <i class="far fa-chevron-down"></i>
						</li>
						<li class="menu">
							<a href="#">บริการโฮมเซอร์วิส</a>
						</li>
						<li class="menu">
							<a href="#">โฮมการ์ด</a>
						</li>
						<li class="menu">
							<a href="#">โปรโมชั่น</a>
						</li>
					</ul>
				</nav>
			</header>

			<main>
				<section class="lo-container" style="background: var(--color-primary-400); padding-bottom: 8rem">
					<div class="hp-hero-banner">
						<img src="assets/banner5.jpg" alt="Banner 1">
					</div>
				</section>

				<section class="lo-container">
					<div class="hp-panel section-product" style="margin-top: -7rem;">
						<h2 class="section-title">สินค้าขายดี</h2>

						<div class="product-list">
							<div v-for="p in 6" class="hp-card-product">
								<div class="image">
									<img src="https://static.homepro.co.th/product/1100000/160x160/25122019_1108743$Imagex1.jpg" width="100%" alt="">
								</div>
								<div class="info">
                                    <div class="discount">ลด 50%</div>
									<div class="title">เตาบาร์บิคิว MITSUMARU AP-MC14</div>
									<div class="price">19,900 บาท</div>
									<div class="original-price">29,900 บาท</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="lo-container" style="margin-top: 1.5rem;">
					<div class="hp-panel section-categories">
						<div class="header">
							<h2 class="section-title">กลุ่มสินค้ายอดนิยม</h2>
							<a href="" class="section-link hp-link -primary">
								ดูเพิ่มเติม <i class="far fa-chevron-right"></i>
							</a>
						</div>

						<div class="category-container">
							<div v-for="it in 12" class="hp-card-category">
								<div class="image">
									<img :src="`assets/c${it}.png`" width="100%" alt="c">
								</div>
								<div class="title">สว่านและดอกสว่าน</div>
							</div>
						</div>

					</div>
				</section>

				<section class="lo-container">
					<div class="hp-panel section-product" style="margin-top: 1.5rem;">
						<h2 class="section-title">สินค้ายอดนิยมในหมวด โคมไฟและหลอดไฟ</h2>

						<div class="product-list">
							<div v-for="p in 6" class="hp-card-product">
								<div class="image">
									<img src="https://static.homepro.co.th/product/1100000/160x160/25122019_1108743$Imagex1.jpg" width="100%" alt="">
								</div>
								<div class="info">
                                    <div class="discount">ลด 50%</div>
									<div class="title">เตาบาร์บิคิว MITSUMARU AP-MC14</div>
									<div class="price">19,900 บาท</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="section-service">
					<div class="lo-container">
						<h2 class="section-title">บริการครบเครื่องเรื่องบ้าน</h2>

						<div class="services-container lo-3">
							<a href="#" class="hp-card-service">
								<div class="image">
									<img src="assets/s1.png" alt="s1">
								</div>
								<div class="info">
									<div class="title">บริการปรับปรุงบ้านและคอนโด</div>
									<p class="description">พลิกโฉมบ้านให้สวยกว่าเดิมด้วยบริการปรับปรุง ต่อเติม ตกแต่งจากมืออาชีพ ที่ปฏิบัติงานครบจบทีเดียว</p>
								</div>
							</a>
							<a href="#" class="hp-card-service">
								<div class="image">
									<img src="assets/s2.png" alt="s1">
								</div>
								<div class="info">
									<div class="title">บริการติดตั้ง ปรับเปลี่ยน ย้ายจุด</div>
									<p class="description">บริการงานติดตั้ง เปลี่ยน ย้าย ด้วยช่างผู้เชี่ยวชาญงานติดตั้ง พร้อมรับประกันงาน 180 วัน</p>
								</div>
							</a>
							<a href="#" class="hp-card-service">
								<div class="image">
									<img src="assets/s3.png" alt="s1">
								</div>
								<div class="info">
									<div class="title">บริการล้าง-ทำความสะอาด</div>
									<p class="description">เพิ่มสุขอนามัย ด้วยบริการทำความสะอาดครบวงจร กับผลิตภัณฑ์ไร้สารเคมีตกค้าง พร้อมยืดอายุการใช้งานเครื่องใช้ของท่าน รับประกัน 30 วัน</p>
								</div>
							</a>
							<a href="#" class="hp-card-service">
								<div class="image">
									<img src="assets/s4.png" alt="s1">
								</div>
								<div class="info">
									<div class="title">บริการออกแบบ 3 มิติ</div>
									<p class="description">ออกแบบบ้านจากไลฟ์สไตล์คุณ ให้บ้านคุณถูกต้องตรงใจ มีความสุขในการอาศัยตลอดไป พร้อมคำแนะนำจากมัณฑนากรมีออาชีพ</p>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="section-email">
					<h2 class="section-title">
						ได้รับข่าวสารโปรโมชั่นก่อนใคร
					</h2>

					<div></div>
				</div>
			</main>

			<footer class="hp-footer">
				<div class="lo-container">
					<div class="content-container">
						<div>
							<h3 class="title">ศูนย์ช่วยเหลือ</h3>
							<ul class="menus">
								<li><a href="#">วิธีการช้อปออนไลน์</a></li>
								<li><a href="#">คำถามที่พบบ่อย</a></li>
								<li><a href="#">ติดตามสินค้า</a></li>
								<li><a href="#">ติดต่อเรา</a></li>
							</ul>
						</div>
						<div>
							<h3 class="title">ช้อปปิ้งกับเรา</h3>
							<ul class="menus">
								<li><a href="#">สมาชิก Home Card</a></li>
								<li><a href="#">สาขาโฮมโปร</a></li>
								<li><a href="#">ความรู้คู่บ้าน</a></li>
								<li><a href="#">งานบริการ</a></li>
							</ul>
						</div>
						<div>
							<h3 class="title">เกี่ยวกับเรา</h3>
							<ul class="menus">
								<li><a href="#">ประวัติโฮมโปร</a></li>
								<li><a href="#">นักลงทุนสัมพันธ์</a></li>
								<li><a href="#">ข่าวสารและกิจกรรม</a></li>
								<li><a href="#">ร่วมงานกับเรา</a></li>
								<li><a href="#">เสนอสินค้า</a></li>
							</ul>
						</div>
						<div>
							<h3 class="title">นโยบาย</h3>
							<ul class="menus">
								<li><a href="#">เงื่อนไขการใช้งาน</a></li>
								<li><a href="#">การคืนและยกเลิกคำสั่งซื้อ</a></li>
								<li><a href="#">ความเป็นส่วนตัว</a></li>
								<li><a href="#">การส่งสินค้า</a></li>
							</ul>
						</div>
						<div>
							<div class="email-subscribe">
								<label for="email_subscribe" class="title">รับโปรโมชั่นและดีลพิเศษก่อนใคร</label>
								<div class="hp-input">
									<input id="email_subscribe" name="email_subscribe" placeholder="กรอกอีเมลของคุณ">
									<button class="hp-button">
										<i class="far fa fa-envelope"></i>
									</button>
								</div>
							</div>

							<div class="social-channel">
								<h3 class="title">ติดตามเรา</h3>
								<ul class="socials">
									<li>
										<a href="#">
											<i class="fab fa-facebook-square fa-2x"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-instagram-square fa-2x"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-youtube-square fa-2x"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-twitter-square fa-2x"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-line fa-2x"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="sub-footer">
					<div class="lo-container">
						<small>
							Copyright 2001-2020 Home Product Center Public Company Limited. All rights reserved.
						</small>
					</div>
				</div>
			</footer>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script>
			var app = new Vue({
				el: '#js-app',

				data: {
					isShowCategory: true
				}
			})
		</script>
	</body>
</html>
