<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="assets/fontawesome-pro-5.5.0/css/all.min.css">
		<link rel="stylesheet" href="dist/homepro-ui.min.css">
	</head>
	<body style="background-color: var(--color-gray-100);">
		<div id="js-app">
			<header>
				<!-- Top bar -->
				<nav class="hp-top-bar lo-container">
					<div>
						<ul>
							<li class="menu"><a href="#">หัวข้ออื่น</a></li>
							<li class="menu"><a href="#">หัวข้ออื่น</a></li>
						</ul>
						<ul>
							<li class="menu">
								<span class="u-flag-th"></span>&nbsp;&nbsp;TH
							</li>
							<li>|</li>
							<li class="menu">
								<span class="u-flag-en"></span>&nbsp;&nbsp;EN
							</li>
							<li class="menu"><a href="#">ค้นหาสาขา</a></li>
							<li class="menu"><a href="#">ติดต่อเรา</a></li>
							<li class="menu"><a href="#">ติดตามคำสั่งซื้อ</a></li>
							<li class="menu"><a href="#">บัญชีของฉัน</a></li>
						</ul>
					</div>
				</nav>

				<!-- Nav bar -->
				<nav class="hp-nav-bar lo-container">
					<div>
						<img src="assets/homepro-logo.svg" alt="Hopmepro" width="120">

						<form class="nav-bar-search">
							<div class="hp-input -search">
								<input type="text" placeholder="ค้นหาสินค้าในโฮมโปร">
								<button class="hp-button">
									<i class="far fa-search"></i>
								</button>
							</div>
						</form>
					</div>

					<ul class="nav-bar-menu">
						<li class="menu -active">
							<span>สินค้าทั้งหมด <i class="far fa-chevron-down"></i></span>

							<ul class="hp-category-panel hp-popup" :class="{ '-active': isShowCategory}">
								<li>เครื่องใช้ไฟฟ้า</li>
								<li>ทีวีและเครื่องเสียง</li>
								<li>กีฬาและฟิตเนส</li>
								<li>เฟอร์นิเจอร์และของแต่งบ้าน</li>
								<li>ห้องครัวและอุปกรณ์</li>
								<li>ห้องนอนและเครื่องนอน</li>
								<li>ห้องน้ำ</li>
								<li>วัสดุปูพื้นและผนัง</li>
								<li>สวนและอุปกรณ์ตกแต่ง</li>
								<li>โคมไฟและหลอดไฟ</li>
								<li>ของใช้ภายในบ้าน</li>
								<li>ประตูและหน้าต่าง</li>
								<li>เครื่องมือช่างและฮาร์ดแวร์</li>
								<li>วัสดุก่อสร้าง</li>
								<li>งานระบบประปา</li>
								<li>งานระบบไฟฟ้า</li>
							</ul>
						</li>
						<li class="menu">
							แบรนด์ยอดนิยม <i class="far fa-chevron-down"></i>
						</li>
						<li class="menu">
							ความรู้คู่บ้าน <i class="far fa-chevron-down"></i>
						</li>
						<li class="menu">
							<a href="#">บริการโฮมเซอร์วิส</a>
						</li>
						<li class="menu">
							<a href="#">โฮมการ์ด</a>
						</li>
						<li class="menu">
							<a href="#">โปรโมชั่น</a>
						</li>
					</ul>
				</nav>
			</header>

			<main>
				<section class="lo-container" style="background: var(--color-primary-400); padding-bottom: 8rem">
					<div class="hp-hero-banner">
						<img src="assets/banner4.jpg" alt="Banner 1">
					</div>
				</section>

				<section class="lo-container">
					<div class="section-product" style="margin-top: -7rem;">
						<h2>สินค้ายอดนิยม</h2>

						<div class="product-list">
							<div v-for="p in 7" class="hp-card-product">
								<div class="image">
									<img src="https://static.homepro.co.th/product/1100000/160x160/25122019_1108743$Imagex1.jpg" width="100%" alt="">
								</div>
								<div class="info">
									<div class="price">19,900 บาท</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="lo-container">
					<div class="section-product" style="margin-top: 1.5rem;">
						<h2>สินค้ายอดนิยม</h2>

						<div class="product-list">
							<div v-for="p in 7" class="hp-card-product">
								<div class="image">
									<img src="https://static.homepro.co.th/product/1100000/160x160/25122019_1108743$Imagex1.jpg" width="100%" alt="">
								</div>
								<div class="info">
									<div class="price">19,900 บาท</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="lo-container">
					<div class="section-product" style="margin-top: 1.5rem;">
						<h2>สินค้ายอดนิยม</h2>

						<div class="product-list">
							<div v-for="p in 7" class="hp-card-product">
								<div class="image">
									<img src="https://static.homepro.co.th/product/1100000/160x160/25122019_1108743$Imagex1.jpg" width="100%" alt="">
								</div>
								<div class="info">
									<div class="price">19,900 บาท</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<br>
				<br>
				<br>
			</main>
		</div>

		<style>
			.section-product {
				padding: 1.5rem;
				background: white;
				border-radius: 6px;
			}

			.section-product h2 {
				font-family: var(--font-family-secondary);
				font-weight: 500;
			}

			.section-product .product-list {
				display: flex;
				justify-content: space-between;
				width: 100%;
				margin-top: 1rem;
			}

			.section-product .product-list > *:not(:last-child) {
				margin-right: 0.75rem;
			}
		</style>

		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script>
			var app = new Vue({
				el: '#js-app',

				data: {
					isShowCategory: true
				}
			})
		</script>
	</body>
</html>
