.hp-badge {
	position: absolute;
	top: -4px;
	right: -4px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 6px;

	border-radius: 999px;
	min-width: 24px;
	min-height: 24px;
	line-height: 24px;

	background-color: $color-price-500;
	color: white;
	font-family: $font-family-secondary;
	font-size: $font-size-300;
	font-weight: 500;
}
