.#{$component-prefix}card-article {
	.image{
		overflow: hidden;

		img {
			width: 100%;
			transition: all 0.48s ease;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.info {
		padding: 12px 12px;
		background: var(--color-gray-100);

		.tag {
			display: inline-block;
			padding: 2px 8px;
			margin-bottom: 8px;
			border-radius: 2px;
			background: var(--color-secondary-500);
			color: white;
			font-size: var(--font-size-200);
		}

		.title {
			font-size: 15px;

			&:hover {
				color: var(--color-primary-500);
			}
		}
	}
}
