.#{$component-prefix}hero-banner {
	--image-height: 454px;

	margin-top: 0rem;

	margin-left: calc(var(--width-category-panel) + 0rem);
	height: var(--image-height);
	background-color: transparent;

	img {
		height: var(--image-height);
		object-fit: cover;
		object-position: center;

		// border-radius: 6px;
		overflow: hidden;
	}
}
