$item-gap: .5rem;

.hp-pagination {
	display: inline-flex;
	flex-wrap: wrap;
	list-style: none;

	margin-bottom: -$item-gap;

	>.item:not(:last-child) {
		margin-right: $item-gap;
		margin-bottom: $item-gap;
	}
}

.hp-pagination > .item {
	margin-top: 0px;
	word-break: normal;

	button {
		border: none;
		outline: none;
	}

	>.link {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		min-width: 3rem;
		height: 3rem;

		padding: 0 .5rem;

		color: $color-gray-500;
		background-color: transparent;

		font-size: 18px;
		font-weight: 400;
		font-family: var(--font-family-secondary);
		line-height: 1;

		border-radius: 6px;
		transition: all 160ms ease-in-out;

		cursor: pointer;

		&:hover {
			background-color: $color-gray-200;
		}
	}

	&.active > {
		cursor: normal;

		.link {
			color: white;
			fill: white;
			background-color: $color-primary-500;
		}
	}

	&.disabled,
	&[disabled] {
		.link {
			pointer-events: none;
		}
	}
}
