.#{$component-prefix}top-bar {
	min-height: var(--height-top-bar);

	background: var(--color-gray-100);
	color: var(--color-text-dark-secondary);

	font-size: var(--font-size-300);

	font-family: var(--font-family-secondary);

	> *:first-child {
		display: flex;
		justify-content: space-between;
	}

	ul {
		display: flex;
		align-items: center;

		&:first-child:last-child {
			margin-left: auto;
		}

		li.menu {
			display: flex;
			align-items: center;

			min-height: var(--height-top-bar);

			padding: 0 0.75rem;
			cursor: pointer;

			&:hover {
				background: var(--color-gray-200);
			}
		}
	}
}
