.hp-top-bar {
	min-height: $height-top-bar;

	background: $color-gray-100;
	color: $color-text-dark-secondary;

	font-size: $font-size-300;

	font-family: $font-family-secondary;

	> *:first-child {
		display: flex;
		justify-content: space-between;
	}

	ul {
		display: flex;
		align-items: center;

		&:first-child:last-child {
			margin-left: auto;
		}

		li.menu {
			display: flex;
			align-items: center;

			height: $height-top-bar;

			padding: 0 0.75rem;
			cursor: pointer;

			&:hover {
				background: $color-gray-200;
			}
		}
	}
	i {
		min-width: 14px;
	}
}
