
.section-product {
	padding: 2rem 1.5rem 2rem 1.5rem;
	background: white;
	border-radius: 0px;

	.product-list {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 1rem;
	}

	.product-list > *:not(:last-child) {
		margin-right: 0.75rem;
	}
}

.section-categories {
	padding: 2rem 1.5rem 2rem 1.5rem;
	background: white;
	border-radius: 0px;

	.category-container {
		margin-top: 1.5rem;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-row-gap: 1rem;
	}
}

.section-promotion {
	margin-top: 1.5rem;
	padding: 4rem 1.5rem 5rem 1.5rem;
	background: white;

	.promotion-container {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 24px;

		.image {
			overflow: hidden;

			&:hover {
				img {
					transform: scale(1.05);
				}
			}

			img {
				width: 100%;
				transition: all 0.48s ease;
			}
		}
	}

	.bottom-promotion {
		margin-top: 24px;
	}
}

.section-service {
	margin-top: 1.5rem;
	padding: 4rem 1.5rem 5rem 1.5rem;
	background: white;

	.section-title {
		text-align: center;
		font-size: var(--font-size-1000);
	}

	.services-container {
		margin-top: 3rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

.section-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-title {
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-800);
	font-weight: 500;
}
