@import 'theme.scss';
@import 'reset.scss';

// @import 'atomic/all.scss';
@import 'utility/all.scss';
@import 'component/all.scss';
@import 'layout/all.scss';

.section-product {
	padding: 2rem 1.5rem 2rem 1.5rem;
	background: white;
	border-radius: 6px;

	.section-title {
		font-size: var(--font-size-800);
	}

	h2 {
		font-family: var(--font-family-secondary);
		font-weight: 500;
	}

	.product-list {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 1rem;
	}

	.product-list > *:not(:last-child) {
		margin-right: 0.75rem;
	}
}

.section-categories {
	padding: 2rem 1.5rem 2rem 1.5rem;
	background: white;
	border-radius: 6px;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.section-title {
			font-family: var(--font-family-secondary);
			font-size: var(--font-size-800);
			font-weight: 500;
		}

		.section-link {
			font-family: var(--font-family-secondary);
			font-weight: 500;
			font-size: var(--font-size-500);
		}
	}

	.category-container {
		margin-top: 1.5rem;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-row-gap: 1rem;
	}
}

.section-service {
	margin-top: 1.5rem;
	padding: 4rem 1.5rem 5rem 1.5rem;
	background: white;

	.services-container {
		margin-top: 3rem;
	}

	.section-title {
		text-align: center;
		font-size: var(--font-size-1000);
		font-family: var(--font-family-secondary);
		font-weight: 500;
	}
}

.section-email {
	padding: 4rem 1.5rem 5rem 1.5rem;
	background: white;
	border-top: 2px solid var(--color-gray-100);

	.services-container {
		margin-top: 3rem;
	}

	.section-title {
		text-align: center;
		font-size: var(--font-size-1000);
		font-family: var(--font-family-secondary);
		font-weight: 500;
	}
}

.section-product {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
