@import 'theme';

body {
	min-width: $min-width-body;
	background-color: $color-body-bg;
}

.checkout-page-main {
	padding-top: 116px;
	padding-bottom: 64px;
}

.checkout-navbar {
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 80px;
	width: 100%;
	background: white;

	box-shadow: 1px 1px 5px rgba(198,198,198,.1);
	border-bottom: 1px solid #ddd;

	.navbar-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			margin-right: auto;
		}
	}
}

.layout-checkout {
	padding-top: 32px;
	position: relative;

	.main {
		display: inline-block;
		max-width: 946px;

		flex-grow: 1;

		.hp-panel {
			margin-bottom: 16px;
			position: relative;

			&.is-success {
				.success-check {
					display: flex;
				}
			}

			&.is-error {
				.error-check {
					display: flex;
				}
			}

			.success-check {
				display: none;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: -4px;
				top: -4px;
				border-radius: 4px;
				width: 50px;
				height: 50px;
				background: $color-success-500;
				color: white;
				font-size: 30;
				box-shadow: 0 0px 3px rgba(0,0,0,.08), 0 4px 8px rgba(0,0,0,.04), 0 7px 10px rgba(0,0,0,.04);
			}

			.error-check {
				display: none;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: -4px;
				top: -4px;
				border-radius: 4px;
				width: 50px;
				height: 50px;
				background: $color-error-500;
				color: white;
				font-size: 30;
				box-shadow: 0 0px 3px rgba(0,0,0,.08), 0 4px 8px rgba(0,0,0,.04), 0 7px 10px rgba(0,0,0,.04);
			}

			.panel-title {
				font-size: $font-size-700;
				font-family: $font-family-secondary;
				color: $color-primary-500;

				margin-bottom: 24px;

				.title-bullet {
					width: 40px;
					height: 40px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					background: $color-primary-100;
					color: $color-primary-500;
					border-radius: 999px;
					margin-right: 6px;
				}
			}
		}

		.address-panel {
			padding: 24px 24px;

			.delivery-address,
			.invoice-address {
				display: flex;
				flex-direction: column;
				margin-top: 8px;
				padding: 12px;
				background: $color-gray-100;
				border-radius: 4px;
				width: 500px;
				border: 1px solid $color-gray-200;

				.address-text {
					min-height: 64px;
					height: 64px;
					overflow: auto;
					font-size: $font-size-300;
					color: $color-text-dark-secondary;
					margin-bottom: 8px;
				}

				.hp-button {
					justify-self: flex-end;
					margin-top: auto;
				}
			}

			.invoice-section {
				margin-top: 24px;
			}
		}

		.payment-panel {
			padding: 24px 24px;

			.payment-slate {
				display: flex;
				flex-direction: column;
				margin-top: 8px;
				padding: 12px;
				background: $color-gray-100;
				border-radius: 4px;
				border: 1px solid $color-gray-200;
			}

			.payment-item-container {
				display: flex;
				flex-wrap: wrap;
				margin-top: 12px;
				width: 872px; // width definite for IE11 flex wrap
			}

			.payment-slate-section:not(:first-child) {
				margin-top: 16px;
			}

			.payment-item {
				cursor: pointer;
				display: flex;
				background-color: white;
				padding: 8px;
				border-radius: 4px;
				justify-content: center;
				align-items: center;
				margin-right: 8px;
				margin-bottom: 8px;
				border: 2px solid white;
				width: calc(25% - 8px);

				box-shadow:
					0 0px 3px rgba(0,0,0,0.08),
					0 4px 8px rgba(0,0,0,0.04),
					0 7px 10px rgba(0,0,0,0.04);

				&:hover {
					border: 2px solid $color-primary-500;
				}

				&.is-active {
					border: 2px solid $color-primary-500;
				}

				img {
					height: 40px;
				}

				.payment-item-info {
					flex-grow: 1;
					margin-left: 12px;
					font-family: $font-family-secondary;
					text-align: right;

					.before-discount-price {
						font-size: $font-size-200;
						text-decoration: line-through;
					}

					.discounted-price {
						color: $color-price-500;
						font-weight: 600;
					}

					.normal-text {
						font-weight: 600;
					}
				}
			}
		}

		.products-panel {
			padding: 24px 24px;

			.panel-title {
				margin-bottom: 0px;
			}

			.products-container {
				padding-top: 12px;
				margin-bottom: 24px;

				.hp-card-product-list {
					padding-top: 24px;
					padding-bottom: 24px;

					&:not(:first-child) {
						border-top: 1px solid $color-gray-200;
					}
				}
			}
		}
	}

	.aside {
		width: 320px;
		margin-left: 24px;
		display: inline-block;
		position: absolute;

		&.is-sticky {
			position: sticky;
			position: fixed;
			z-index: 2;
			top: 16px;
		}

		.summary-panel {
			padding: 24px 24px;

			.price-summary,
			.price-info {
				.item {
					display: flex;
					justify-content: space-between;
					align-items: baseline;

					font-family: var(--font-family-secondary);
					color: $color-text-dark-secondary;

					&.center {
						align-items: center;
					}
				}
			}

			.price-info {
				margin-top: 16px;

				.item {
					margin-bottom: 8px;
					font-family: $font-family-secondary;
				}
			}

			.coupon-info {
				form {
					margin: 0;
				}

				.hp-tags-container:not(:empty) {
					margin-top: 8px;
				}

				.hp-input.with-button {
					height: 36px;
					min-height: 36px;

					input {
						height: 36px;
					}

					button {
						height: 36px;
					}
				}
			}

			hr {
				margin-top: 16px;
				margin-bottom: 16px;
			}

			.price-summary {
				margin: 16px 0;
				font-family: $font-family-secondary;

				.item > *:last-child {
					color: $color-price-500;
					font-size: $font-size-800;
					font-family: $font-family-secondary;
				}
			}
		}
	}
}
