.lo-container {
	display: flex;
	width: 100%;
	padding: 0 12px;

	> * {
		width: 100%;
		max-width: $breakpoint-md - 40px;
		min-width: $breakpoint-md - 40px;
		margin: auto;
	}

	@each $breakpointName, $breakpointSize in $breakpoints {
		@media (min-width: $breakpointSize) {
			> * {
				width: 100%;
				max-width: $breakpointSize - 40px;
				min-width: $breakpointSize - 40px;
				margin: auto;
			}
		}
	}
}

.lo-with-sidebar {
	display: flex;
	align-items: flex-start;

	.sidebar {
		width: 220px;
		margin-right: 2rem;
	}

	.content {
		flex: 1;
	}
}
